/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

color-green-3: #70DF95;
color-green-light-1:#7ed56f;
color-green-dark-1:#28b485;
color-green-light-2:#a8e063;
color-green-dark-2:#56ab2f;

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light:#FF3366;
  --color-primary-dark: #BA265D;
  --color-gray-light-1: #faf9f9;
  --color-gray-light-2: #f4f2f2;
  --color-gray-light-3: #f0eeee;
  --color-gray-light-4: #ccc;
  --color-gray-dark-1: #333;
  --color-gray-dark-2: #777;
  --color-gray-dark-3: #999;
  --color-green-3: #70DF95;
  --color-green-dark-2:#56ab2f;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,0.06);
  --border-black: 1px solid black;
  --line: 1px solid var(--color-gray-light-2);
  --line-2: 1px solid var(--color-gray-light-3);
  --line-3:1px solid var(--color-gray-light-4); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 41.25em) {
    html {
      font-size: 43.75%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  color: var(--color-gray-dark-1);
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-gray-light-1);
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  padding: 1rem 0;
  background-color: var(--color-gray-light-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--line); }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  flex: 0 0 18%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 31.25em) {
    .sidebar {
      font-size: 1.5rem; } }

.hotel-view {
  flex: 1;
  background-color: var(--color-gray-light-1);
  color: var(--color-gray-dark-2); }

.detail {
  display: flex;
  margin-bottom: 0rem;
  border-bottom: var(--line);
  background-color: var(--color-gray-light-1);
  padding: 4.5rem; }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 41.25em) {
    .detail {
      padding: 2.5;
      flex-direction: column; } }
  @media only screen and (max-width: 31.25em) {
    .detail {
      padding: 2rem;
      padding-bottom: 1.5rem; } }

.despcription {
  font-size: 1.4rem;
  flex: 0 0 60%;
  background-color: #fff;
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: var(--shadow-light); }
  @media only screen and (max-width: 56.25em) {
    .despcription {
      padding: 2rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 41.25em) {
    .despcription {
      padding: 1.5rem;
      margin-right: 0;
      margin-bottom: 2rem; } }

.user-review {
  flex: 1;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-gray-light-2);
      margin-top: 0.8rem; } }
  .search__input {
    font-family: inherit;
    padding: 1rem 2rem;
    border: none;
    background-color: var(--color-gray-light-2);
    border-radius: 3px;
    flex: 0 0 100%;
    animation: all 0.2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      border: var(--line-2);
      outline: none;
      background-color: var(--color-gray-light-1); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-gray-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-gray-light-1);
    border: var(--line-2);
    border-left: none; }
  .search__input:focus + .search__button:hover {
    background-color: var(--color-primary); }
  .search__button {
    background-color: var(--color-gray-light-2);
    cursor: pointer;
    padding: 0 1.5rem;
    border: none; }
    .search__button:hover {
      outline: none;
      background-color: var(--color-primary); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2.2rem;
    width: 2.2rem;
    fill: var(--color-green-dark-2); }

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 20%; }
  .user-nav > * {
    padding: 0 1.5rem;
    cursor: pointer;
    align-self: stretch;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-gray-light-3); }
  .user-nav__icon-box {
    display: flex;
    position: relative;
    pointer: cursor; }
  .user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-gray-dark-1); }
  .user-nav__notification {
    color: #fff;
    font-size: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    top: 0.5rem;
    right: 0.4rem;
    text-align: center; }
  .user-nav__icon-box:hover .message-dropdown {
    opacity: 1;
    display: block; }
  .user-nav .message-dropdown {
    opacity: 0;
    display: none;
    z-index: 30;
    position: absolute;
    top: 100%;
    right: -15rem;
    width: 600%;
    cursor: initial;
    background-color: var(--color-gray-light-1);
    color: var(--color-gray-dark-1);
    box-shadow: var(--shadow-dark);
    box-radius: 3px; }
    .user-nav .message-dropdown__menu {
      font-weight: 300; }
    .user-nav .message-dropdown__item-header {
      display: flex;
      border-bottom: var(--line-2);
      font-size: 1.5rem;
      align-items: center; }
    .user-nav .message-dropdown__header {
      margin-left: 2rem;
      font-size: 1.6rem; }
    .user-nav .message-dropdown__link {
      margin-left: auto; }
    .user-nav .message-dropdown__icon {
      box-sizing: content-box;
      padding: 1rem 1.5rem;
      height: 2.5rem;
      width: 2.5rem;
      fill: var(--color-gray-dark-2);
      align-self: stretch; }
      .user-nav .message-dropdown__icon:hover {
        fill: var(--color-primary); }
    .user-nav .message-dropdown__item-content {
      border-bottom: var(--line-2); }
    .user-nav .message-dropdown__content-link, .user-nav .message-dropdown__content-link:visited, .user-nav .message-dropdown__content-link:link {
      text-decoration: none;
      color: var(--color-gray-dark-1);
      display: flex;
      padding: 1rem 1.5rem;
      align-items: center; }
    .user-nav .message-dropdown__content-link:hover {
      background-color: var(--color-gray-light-3); }
    .user-nav .message-dropdown__photo {
      box-sizing: content-box;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      margin-right: 1rem; }
    .user-nav .message-dropdown__user {
      display: flex; }
    .user-nav .message-dropdown__name {
      font-size: 1.5rem;
      margin-right: auto;
      color: var(--color-primary); }
    .user-nav .message-dropdown__message {
      font-size: 1.2rem; }
    .user-nav .message-dropdown__date {
      font-size: 1.1rem; }
    .user-nav .message-dropdown__btn {
      padding: 1.5rem 2rem;
      text-align: center; }
  .user-nav__user {
    display: flex;
    margin-right: 1rem;
    position: relative; }
  .user-nav__user-photo {
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__user-name {
    color: var(--color-primary-light);
    font-weight: bold; }
  .user-nav__user:hover .user-dropdown {
    opacity: 1;
    display: block; }
  .user-nav .user-dropdown {
    z-index: 30;
    position: absolute;
    top: 100%;
    right: -1px;
    width: 130%;
    background-color: var(--color-gray-light-1);
    color: var(--color-gray-dark-1);
    box-shadow: var(--shadow-dark);
    box-radius: 3px;
    opacity: 0;
    display: none; }
    .user-nav .user-dropdown__menu {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0; }
    .user-nav .user-dropdown__item {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 300; }
    .user-nav .user-dropdown__link, .user-nav .user-dropdown__link:visited, .user-nav .user-dropdown__link:link {
      text-decoration: none;
      color: var(--color-gray-dark-1);
      font-weight: 300;
      padding: 1rem 1.5rem;
      display: flex;
      align-items: center; }
    .user-nav .user-dropdown__link:hover {
      background-color: var(--color-gray-light-3);
      color: var(--color-primary); }
    .user-nav .user-dropdown__icon {
      height: 2.75rem;
      width: 2.75rem;
      fill: var(--color-primary);
      margin-right: 1.5rem; }
  .user-nav .dropdown-divider {
    border-bottom: var(--line-2); }

.side-nav {
  color: #fff;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      flex-direction: row;
      margin-top: 0; } }
  .side-nav__item {
    position: relative;
    width: 100%; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 0.5rem; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light-1); }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    color: var(--color-gray-light-1);
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 10; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center; } }
    @media only screen and (max-width: 41.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1rem 0.5rem;
        align-items: center; } }
  .side-nav__icon {
    fill: currentColor;
    width: 3rem;
    height: 3rem;
    fill: var(--color-gray-light-1);
    margin-right: 2rem; }
    @media only screen and (max-width: 41.25em) {
      .side-nav__icon {
        margin: 0;
        width: 2rem;
        height: 2rem;
        margin-right: 0;
        margin-bottom: 0.7rem; } }

.legal {
  padding: 2.5rem 3.8rem;
  text-align: center;
  font: 1.2rem;
  color: var(--color-gray-light-1); }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.gallery {
  position: relative; }
  .gallery__image {
    width: 100%;
    display: block;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .gallery__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    opacity: 0;
    font-weight: 700; }
    @media only screen and (max-width: 41.25em) {
      .gallery__caption {
        font-size: 1.4rem; } }
  .gallery:hover .gallery__image {
    filter: blur(1px) brightness(40%); }
  .gallery:hover .gallery__caption {
    opacity: 1; }

.hotel-view__images {
  display: flex; }

.hotel-view .overview {
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: var(--line); }
  @media only screen and (max-width: 31.25em) {
    .hotel-view .overview {
      flex-wrap: wrap;
      justify-content: space-around; } }
  .hotel-view .overview__heading {
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 41.25em) {
      .hotel-view .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem; } }
    @media only screen and (max-width: 31.25em) {
      .hotel-view .overview__heading {
        flex: 0 0 100%;
        text-align: center; } }
  .hotel-view .overview__rating {
    margin-right: auto;
    display: flex; }
    @media only screen and (max-width: 31.25em) {
      .hotel-view .overview__rating {
        margin-left: 1.5rem;
        margin-right: 0; } }
    .hotel-view .overview__rating--icon {
      width: 1.75rem;
      height: 1.75rem;
      fill: var(--color-primary); }
  .hotel-view .overview__address {
    color: var(--color-primary);
    display: flex;
    align-items: center;
    margin-right: 3rem; }
    @media only screen and (max-width: 31.25em) {
      .hotel-view .overview__address {
        margin-right: 1rem; } }
    .hotel-view .overview__address--icon {
      width: 1.75rem;
      height: 1.75rem;
      fill: currentColor; }
  .hotel-view .overview__votes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--color-primary);
    color: var(--color-gray-light-1);
    padding: 0 1.5rem; }
    @media only screen and (max-width: 31.25em) {
      .hotel-view .overview__votes {
        flex-grow: 0 0 20%; } }
    .hotel-view .overview__votes--rating {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px; }
      @media only screen and (max-width: 56.25em) {
        .hotel-view .overview__votes--rating {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 31.25em) {
        .hotel-view .overview__votes--rating {
          font-size: 1.5rem; } }
    .hotel-view .overview__votes--counts {
      font-size: 1rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 56.25em) {
        .hotel-view .overview__votes--counts {
          font-size: 0.8rem; } }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer; }
  .btn-inline:hover {
    color: var(--color-gray-dark-1); }
  .btn-inline:focus, .btn-inline:active {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0 {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 41.25em) {
    .list {
      margin: 1rem 0;
      padding: 2rem 0; } }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }
  .list__item::before {
    content: "";
    margin-right: .7rem;
    display: inline-block;
    height: 1.75rem;
    width: 1.75rem;
    transform: translateY(0.4rem);
    background-image: url(../img/SVG/keyboard_arrow_right.svg);
    background-size: cover; }
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      .list__item::before {
        -webkit-mask-image: url(../img/SVG/keyboard_arrow_right.svg);
        mask-image: url(../img/SVG/keyboard_arrow_right.svg);
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: var(--color-primary);
        background-image: none; } }

.recommend {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: var(--color-gray-dark-3); }
  .recommend__count {
    margin-right: auto; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    box-sizing: content-box;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.2rem; }

.review {
  background-color: #fff;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  margin-bottom: 3.5rem;
  position: relative;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 41.25em) {
    .review {
      padding: 1.5rem;
      margin-bottom: 2rem; } }
  .review__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  .review__user {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .review__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__user-box {
    margin-right: auto;
    font-size: 1.2rem; }
  .review__user-name {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.4rem; }
  .review__user-date {
    font-size: 1.1rem;
    color: var(--color-gray-dark-3); }
  .review__rating {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primary); }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2rem;
    left: -0.5rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-gray-light-2);
    font-family: sans-serif;
    z-index: 1; }

.btn-text:link, .btn-text:visited {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1.5px solid currentColor;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all .2s; }
  @media only screen and (max-width: 41.25em) {
    .btn-text:link, .btn-text:visited {
      transform: translateY(-0.5rem); } }

.btn-text:hover {
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: var(--shadow-dark);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: var(--shadow-dark);
  transform: translateY(0); }

.cta {
  background-color: #fff;
  text-align: center;
  padding: 3.5rem 0;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0; } }
  @media only screen and (max-width: 41.25em) {
    .cta {
      font-size: 1rem;
      padding: 2rem 0; } }
  .cta__book-now {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 41.25em) {
      .cta__book-now {
        margin-bottom: 2rem; } }

.btn {
  position: relative;
  text-align: center;
  font-size: 1.4rem; }
  @media only screen and (max-width: 41.25em) {
    .btn {
      font-size: 1.2rem; } }
  .btn, .btn:visited {
    border-radius: 10rem;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    transition: all 0.2s; }
  .btn:hover {
    box-shadow: var(--shadow-light); }
  .btn:hover .btn-visible {
    opacity: 0;
    transform: translateY(50%); }
  .btn:hover .btn-invisible {
    opacity: 1;
    top: 0; }
  .btn:focus, .btn:active {
    animation: pulsate 1s infinite;
    outline: none;
    box-shadow: var(--shadow-dark); }
  .btn-visible {
    display: inline-block;
    padding: 2rem 7.5rem;
    transition: all 0.2s; }
  .btn-invisible {
    opacity: 0;
    display: inline-block;
    position: absolute;
    padding: 2rem;
    left: 13%;
    top: -100%;
    transition: all 0.2s; }
